# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Backend .NET Deployment

on:
  push:
    branches: [ "dev" ]
  pull_request:
    branches: [ "dev" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    
    - name: Build Docker Image
      run: docker build -t neilrudds/sensorflow-webapi:latest -f 'src/WebApi/Dockerfile' .
      
    - name: Log into Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Push the image to Docker Hub
      run: docker push neilrudds/sensorflow-webapi

    - name: Pull the image to VM
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USERNAME }}
        key: ${{ secrets.SSH_KEY }}
        script: 
          docker pull ${{ secrets.DOCKERHUB_USERNAME }}/sensorflow-webapi:latest
          docker stop sensorflow-webapi || true
          docker rm sensorflow-webapi || true
          docker run -d -p 80:4999 -p 5000:443 --name sensorflow-webapi ${{ secrets.DOCKERHUB_USERNAME }}/sensorflow-webapi:latest
